# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../:\Designing-Internet-applications\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
